flows.json
[{"id":"b42fd12f.306d4","type":"tab","label":"create database and add data","disabled":false,"info":""},{"id":"c314f908.4e5ca8","type":"tab","label":"api","disabled":false,"info":""},{"id":"650555c9.ffd16c","type":"tab","label":"modbus input","disabled":false,"info":""},{"id":"51972b56.ca0314","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"60e8797.d0c1b88","type":"postgresDB","z":"","name":"localhost","host":"localhost","port":"5432","database":"postgres","ssl":false,"max":"10","min":1,"idle":"1000"},{"id":"8c324270.0cbc4","type":"websocket-listener","z":"","path":"/ws/logs","wholemsg":"false"},{"id":"7c8fe456.8e487c","type":"websocket-client","z":"","path":"ws://localhost:1880/ws/logs","wholemsg":"false"},{"id":"a68af64b.1b0c68","type":"inject","z":"b42fd12f.306d4","name":"inject on start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":133.52777099609375,"y":46.95834255218506,"wires":[["4b5626d9.66cb18"]]},{"id":"4b5626d9.66cb18","type":"postgrestor","z":"b42fd12f.306d4","name":"create tables","query":"CREATE TABLE frames (\n    id bigserial NOT NULL,\n\t\tname text NOT NULL,\n\t\tnumber text,\n\t\tserial text,\n\t\tserialStart text,\n\t\tPRIMARY KEY (ID)\n);\n\nCREATE TABLE components (\n\tid bigserial NOT NULL,\n\tnumber text,\n\tname  text NOT NULL,\n\tframeId bigserial REFERENCES frames(id),\n\tPRIMARY KEY (ID)\n);\n\nCREATE TABLE logs (\n\tid bigserial NOT NULL,\n\tframeType text NOT NULL,\n\tframeDynamicCode text,\n\tframeNumber text,\n\tframeComponent text NOT NULL,\n\tshiftNumber text NOT NULL,\n\tprocessingTime text NOT NULL,\n\tstatus text NOT NULL,\n\ttimestamp text NOT NULL,\n\tPRIMARY KEY (ID)\n);\n\nCREATE TABLE shifts (\n\tid bigserial NOT NULL,\n\tname text NOT NULL,\n\tstartTime text NOT NULL,\n\tendTime text NOT NULL\n);\n\nCREATE TABLE users (\n\tid bigserial NOT NULL,\n\tusername text NOT NULL,\n\tpassword text NOT NULL\n);\n\nCREATE INDEX idx_frames ON frames(id);\nCREATE INDEX idx_components ON components(id);\nCREATE INDEX idx_logs ON logs(id);\nCREATE INDEX idx_users ON users(id);","postgresDB":"60e8797.d0c1b88","output":true,"outputs":1,"x":127.5174331665039,"y":211.8680934906006,"wires":[["11b42b9d.e43944","831129af.6c42f8","f8162b2f.cdc888"]]},{"id":"7dd12653.8ce8e8","type":"http in","z":"c314f908.4e5ca8","name":"","url":"/users","method":"get","upload":false,"swaggerDoc":"","x":107.52777099609375,"y":117.78820037841797,"wires":[["4f2bf7a1.7e0328"]]},{"id":"4f2bf7a1.7e0328","type":"postgrestor","z":"c314f908.4e5ca8","name":"get users","query":"SELECT * FROM USERS;","postgresDB":"60e8797.d0c1b88","output":true,"outputs":1,"x":335.5208740234375,"y":106.87152862548828,"wires":[["5f6717a7.b12528"]]},{"id":"bc77d064.4f848","type":"http response","z":"c314f908.4e5ca8","name":"","statusCode":"","headers":{},"x":855.5244407653809,"y":99.87506103515625,"wires":[]},{"id":"5f6717a7.b12528","type":"change","z":"c314f908.4e5ca8","name":"","rules":[{"t":"set","p":"users","pt":"global","to":"payload.rows","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.rows","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":605.5139007568359,"y":108.10771560668945,"wires":[["bc77d064.4f848"]]},{"id":"91a0292b.543018","type":"postgrestor","z":"b42fd12f.306d4","name":"insert users","query":"INSERT INTO USERS(username, password)\nVALUES('{{msg.payload.username}}', '{{msg.payload.password}}');","postgresDB":"60e8797.d0c1b88","output":true,"outputs":1,"x":714.0173645019531,"y":276.0104742050171,"wires":[[]]},{"id":"733722d6.0c4d1c","type":"postgrestor","z":"b42fd12f.306d4","name":"insert components","query":"\nINSERT INTO components(name,number,frameid) \nVALUES \n  ('{{msg.payload.name}}','{{msg.payload.number}}',1);\n","postgresDB":"60e8797.d0c1b88","output":true,"outputs":1,"x":1044.0174942016602,"y":398.0104742050171,"wires":[[]]},{"id":"b19b5c0b.2a12","type":"http in","z":"c314f908.4e5ca8","name":"","url":"/frames","method":"get","upload":false,"swaggerDoc":"","x":117.0173568725586,"y":245.01040649414062,"wires":[["342e42c8.590f9e"]]},{"id":"342e42c8.590f9e","type":"postgrestor","z":"c314f908.4e5ca8","name":"get frames","query":"SELECT * FROM FRAMES;","postgresDB":"60e8797.d0c1b88","output":true,"outputs":1,"x":345.01045989990234,"y":234.09373474121094,"wires":[["c4376b37.903e28"]]},{"id":"837a5c04.c9df7","type":"http response","z":"c314f908.4e5ca8","name":"","statusCode":"","headers":{},"x":855.0140266418457,"y":227.0972671508789,"wires":[]},{"id":"c4376b37.903e28","type":"change","z":"c314f908.4e5ca8","name":"","rules":[{"t":"set","p":"frames","pt":"global","to":"payload.rows","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.rows","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":605.0034866333008,"y":235.3299217224121,"wires":[["837a5c04.c9df7"]]},{"id":"6845fce6.6d7894","type":"http in","z":"c314f908.4e5ca8","name":"","url":"/components","method":"get","upload":false,"swaggerDoc":"","x":135.0173568725586,"y":443.0104064941406,"wires":[["2730999b.1db3d6"]]},{"id":"2730999b.1db3d6","type":"postgrestor","z":"c314f908.4e5ca8","name":"get components","query":"SELECT * FROM COMPONENTS;","postgresDB":"60e8797.d0c1b88","output":true,"outputs":1,"x":353.01045989990234,"y":432.09373474121094,"wires":[["52da29a5.f68cc8"]]},{"id":"c5809bf5.9e9668","type":"http response","z":"c314f908.4e5ca8","name":"","statusCode":"","headers":{},"x":853.0140266418457,"y":425.0972671508789,"wires":[]},{"id":"52da29a5.f68cc8","type":"change","z":"c314f908.4e5ca8","name":"","rules":[{"t":"set","p":"components","pt":"global","to":"payload.rows","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.rows","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":603.0034866333008,"y":433.3299217224121,"wires":[["c5809bf5.9e9668"]]},{"id":"eb72cc10.d78be","type":"inject","z":"650555c9.ffd16c","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"x":130.5208282470703,"y":63.95834732055664,"wires":[["d26d8571.00f1b8"]]},{"id":"d26d8571.00f1b8","type":"function","z":"650555c9.ffd16c","name":"modbus data","func":"msg.signals = [\n    false,\n    Math.random() > 0.5,\n    false,\n    true,\n    true,\n    true,\n    true,\n    true,\n    true,\n    true,\n    true,\n    true,\n    true,\n    true,\n    true,\n    true,\n    true,\n    true,\n    true,\n    true,\n    true,\n    true,\n    true,\n    true,\n    true,\n    true,\n    true,\n    true,\n    true,\n    true,\n    true,\n    true,\n    true,\n    true,\n    true,\n    true,\n    true,\n    true,\n    true,\n    true,\n    true,\n    true,\n    true,\n    true,\n    true,\n    true\n];\n\nreturn msg;","outputs":1,"noerr":0,"x":146.52086639404297,"y":262.3854675292969,"wires":[["cca416c.23f31e8"]]},{"id":"3ff228e8.94a918","type":"rbe","z":"650555c9.ffd16c","name":"detect change","func":"rbe","gap":"","start":"","inout":"out","x":609.5242156982422,"y":262.02432918548584,"wires":[["f1847a76.fc7778"]]},{"id":"cca416c.23f31e8","type":"change","z":"650555c9.ffd16c","name":"stop signal","rules":[{"t":"set","p":"payload","pt":"msg","to":"signals[1]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":384.5173034667969,"y":262.4409809112549,"wires":[["3ff228e8.94a918"]]},{"id":"f1847a76.fc7778","type":"function","z":"650555c9.ffd16c","name":"if true","func":"if(msg.payload){\n return msg;\n}","outputs":1,"noerr":0,"x":806.5243320465088,"y":261.8229124546051,"wires":[["3eaf6dbb.072602","79527958.4298b8"]]},{"id":"1858aa77.190446","type":"postgrestor","z":"650555c9.ffd16c","name":"add log","query":"INSERT INTO LOGS (\n  frametype,\n  framenumber,\n  framecomponent,\n  shiftnumber,\n  processingtime,\n  status,\n  timestamp,\n  frameDynamicCode\n) \n\nVALUES (\n'{{msg.payload.frametype}}',\n'{{msg.payload.framenumber}}',\n'{{msg.payload.framecomponent}}',\n'{{msg.payload.shiftnumber}}',\n'{{msg.payload.processingtime}}',\n'{{msg.payload.status}}',\n'{{msg.payload.timestamp}}',\n'{{msg.payload.frameDynamicCode}}'\n);","postgresDB":"60e8797.d0c1b88","output":true,"outputs":1,"x":1966.0805778503418,"y":264.97925567626953,"wires":[["5d50071c.65b8d8"]]},{"id":"3f254637.cecf4a","type":"function","z":"650555c9.ffd16c","name":"generate data","func":"var selectedFrame = global.get(\"selectedFrame\");\n\nvar frameComponents = msg.payload.rows || [];\n\nmsg.signals.shift();\nmsg.signals.shift();\nmsg.signals.shift();\n\nvar signals = msg.signals;\n\n\nconsole.info(\"------frame\", selectedFrame);\nconsole.info(\"------shift\", getShift());\nconsole.info(\"-------frameserial\", getFrameSerial());\n\nif (selectedFrame && getShift() && getFrameSerial() > 0) {\n\n    msg.payload = [];\n\n    var frameSerial = getFrameSerial();\n\n    var isValid = signals.every(function (comp) {\n        return comp === true;\n    });\n\n    if (!isValid) {\n         frameSerial = frameSerial - 1;\n    }\n    \n    console.log('isValid.....', isValid);\n\n    frameComponents.forEach(function (comp, index) {\n        if (isValid && index == 0) {\n            console.log('pushing log....', frameSerial);\n            msg.payload.push({\n                frametype: selectedFrame ? selectedFrame.name : '',\n                framenumber: isValid ? frameSerial : '---',\n                frameid: selectedFrame.id,\n                framecomponent: 'ALL',\n                shiftnumber: getShift(),\n                processingtime: \"\",\n                status: msg.signals[index] === true ? \"PRESENT\" : \"ABSENT\",\n                timestamp: new Date(),\n                frameDynamicCode: getFrameCode(new Date(), frameSerial)\n            });\n        } else if(!isValid && msg.signals[index] == false){\n            msg.payload.push({\n                frametype: selectedFrame ? selectedFrame.name : '',\n                framenumber: isValid ? frameSerial : '---',\n                frameid: selectedFrame.id,\n                framecomponent: comp.name,\n                shiftnumber: getShift(),\n                processingtime: \"\",\n                status: msg.signals[index] === true ? \"PRESENT\" : \"ABSENT\",\n                timestamp: new Date(),\n                frameDynamicCode: '---'\n            });\n        }\n    });\n\n    global.set(\"selectedFrame\", {\n        name: selectedFrame.name,\n        number: selectedFrame.number,\n        id: selectedFrame.id,\n        serial: frameSerial,\n        serialstart: selectedFrame.serialstart\n    });\n\n    msg.topic = global.get(\"selectedFrame\");//selectedFrame;\n\n    //msg.topic.serial = frameserial;\n\n    return msg;\n}\n\nfunction getShift() {\n    var shifts = global.get(\"shifts\");\n    var shiftName = '';\n     \n    for (var i = 0; i < shifts.length; i++) {\n        \n        var currentTime = new Date().toString().slice(16, 21);\n        currentTime = parseInt(currentTime.replace(\":\", \"\"));\n        \n        var start = parseInt(shifts[i].starttime.replace(\":\", \"\"));\n        var end = parseInt(shifts[i].endtime.replace(\":\", \"\"));\n        \n        //console.log(i, shifts[i], currentTime, start, end);\n        // Fix time for compare.\n        if (end < start) {\n            \n            end += 2400;\n\n            if (!((currentTime >= start) && (currentTime <= end)))\n                currentTime += 2400;\n        }\n\n        if (currentTime < end && currentTime >= start) {\n            shiftName = shifts[i].name;\n            break;\n        }\n\n    }\n\n    return shiftName;\n}\n\nfunction getFrameCode(date, frameSerial) {\n    var dd = date.getDate();\n    var mm = date.getMonth()+1; //January is 0!\n\n    var yyyy = date.getFullYear();\n    if(dd<10){\n        dd='0'+dd;\n    }\n    if(mm<10){\n        mm='0'+mm;\n    }\n    return dd+'-'+mm+'-'+yyyy +'-'+getShift()+'-'+frameSerial;\n}\n\nfunction getFrameSerial() {\n    var frames = global.get('frames');\n    var serial = null;\n    var lastLogs = global.get('lastLogs');\n\n    frames.forEach(function (frame) {\n        if (selectedFrame.id == frame.id) {\n            //console.log(lastLogs[0].shiftnumber, getShift())\n            if (lastLogs && lastLogs[0] && lastLogs[0].shiftnumber && lastLogs[0].shiftnumber != getShift()) {\n                serial = frame.serialstart;\n            } else if(lastLogs && lastLogs[0] && lastLogs[0].framenumber > 0){\n                console.log('framesearch for each---', frame.serial);\n                serial = parseInt(lastLogs[0].framenumber) + 1;\n            } else {\n                serial = frame.serial > 0 ?  (parseInt(frame.serial) + 1) : frame.serialstart;\n            }\n        }\n\n    });\n\n    return serial;\n}","outputs":1,"noerr":0,"x":1424.1808776855469,"y":263.1528539657593,"wires":[["f89684ae.740bc8","27d28a2a.343dc6","79527958.4298b8","7bd6d041.8809e"]]},{"id":"d15d6785.236128","type":"inject","z":"c314f908.4e5ca8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":144.52430725097656,"y":45.96527862548828,"wires":[["4f2bf7a1.7e0328"]]},{"id":"b5c3f4c3.a14488","type":"inject","z":"c314f908.4e5ca8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":170.01734924316406,"y":184.01040649414062,"wires":[["342e42c8.590f9e"]]},{"id":"a462dc2b.3c63f","type":"inject","z":"c314f908.4e5ca8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":161.01734924316406,"y":374.0104064941406,"wires":[["2730999b.1db3d6"]]},{"id":"a553059e.592a78","type":"http in","z":"c314f908.4e5ca8","name":"","url":"/selectedFrame","method":"put","upload":false,"swaggerDoc":"","x":140.01738739013672,"y":1199.6771478652954,"wires":[["dbba4366.77585"]]},{"id":"dbba4366.77585","type":"change","z":"c314f908.4e5ca8","name":"","rules":[{"t":"set","p":"selectedFrame","pt":"global","to":"req.body.selectedFrame","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":445.0173645019531,"y":1224.7883205413818,"wires":[["2e4e9f0c.a9f3f"]]},{"id":"ec15d262.32157","type":"http in","z":"c314f908.4e5ca8","name":"","url":"/selectedFrame","method":"get","upload":false,"swaggerDoc":"","x":142.0173797607422,"y":1125.8993697166443,"wires":[["520b936e.f9d96c"]]},{"id":"1e342ad9.1df205","type":"http response","z":"c314f908.4e5ca8","name":"","statusCode":"","headers":{},"x":849.0174007415771,"y":1125.8993577957153,"wires":[]},{"id":"520b936e.f9d96c","type":"change","z":"c314f908.4e5ca8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"selectedFrame","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":431.01734924316406,"y":1151.8993968963623,"wires":[["1e342ad9.1df205"]]},{"id":"2e4e9f0c.a9f3f","type":"http response","z":"c314f908.4e5ca8","name":"","statusCode":"","headers":{},"x":850.0173454284668,"y":1195.56609249115,"wires":[]},{"id":"a49e85e2.a9b2b8","type":"http in","z":"c314f908.4e5ca8","name":"","url":"/shifts","method":"get","upload":false,"swaggerDoc":"","x":111.0173568725586,"y":749.5659790039062,"wires":[["a7456dce.411f2"]]},{"id":"a7456dce.411f2","type":"postgrestor","z":"c314f908.4e5ca8","name":"get shifts","query":"SELECT * FROM SHIFTS;","postgresDB":"60e8797.d0c1b88","output":true,"outputs":1,"x":339.01045989990234,"y":738.6493072509766,"wires":[["b7318017.bac01"]]},{"id":"898046cc.bc55c8","type":"http response","z":"c314f908.4e5ca8","name":"","statusCode":"","headers":{},"x":859.0140266418457,"y":731.6528396606445,"wires":[]},{"id":"b7318017.bac01","type":"change","z":"c314f908.4e5ca8","name":"","rules":[{"t":"set","p":"shifts","pt":"global","to":"payload.rows","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.rows","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":609.0034866333008,"y":739.8854942321777,"wires":[["898046cc.bc55c8"]]},{"id":"1d393a1d.f7bed6","type":"inject","z":"c314f908.4e5ca8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":165.01734924316406,"y":682.5660095214844,"wires":[["a7456dce.411f2"]]},{"id":"e0654901.0c6638","type":"http in","z":"c314f908.4e5ca8","name":"","url":"/shifts","method":"put","upload":false,"swaggerDoc":"","x":117.0173568725586,"y":874.5659790039062,"wires":[["7b149b25.2cf974"]]},{"id":"7b149b25.2cf974","type":"postgrestor","z":"c314f908.4e5ca8","name":"add shifts","query":"INSERT INTO SHIFTS(name, starttime, endtime)\n\nVALUES(\n'{{msg.req.body.name}}',\n'{{msg.req.body.starttime}}',\n'{{msg.req.body.endtime}}'\n)","postgresDB":"60e8797.d0c1b88","output":true,"outputs":1,"x":345.01045989990234,"y":863.6493072509766,"wires":[["d56eacb2.fc302","a7456dce.411f2"]]},{"id":"b309fdce.1d7de","type":"http response","z":"c314f908.4e5ca8","name":"","statusCode":"","headers":{},"x":865.0140266418457,"y":856.6528396606445,"wires":[]},{"id":"d56eacb2.fc302","type":"change","z":"c314f908.4e5ca8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.rows","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":615.0034866333008,"y":864.8854942321777,"wires":[["b309fdce.1d7de"]]},{"id":"3c93e48e.3d92ac","type":"http in","z":"c314f908.4e5ca8","name":"","url":"/shifts","method":"delete","upload":false,"swaggerDoc":"","x":110.0173568725586,"y":1035.2326049804688,"wires":[["1a55bfa7.12248"]]},{"id":"1a55bfa7.12248","type":"postgrestor","z":"c314f908.4e5ca8","name":"delete shifts","query":"DELETE FROM SHIFTS WHERE id= '{{msg.req.query.id}}';","postgresDB":"60e8797.d0c1b88","output":true,"outputs":1,"x":338.01045989990234,"y":1024.315933227539,"wires":[["43cf6147.fa349","a7456dce.411f2"]]},{"id":"2b219761.3a2098","type":"http response","z":"c314f908.4e5ca8","name":"","statusCode":"","headers":{},"x":848.0140266418457,"y":1017.319465637207,"wires":[]},{"id":"43cf6147.fa349","type":"change","z":"c314f908.4e5ca8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.rows","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":598.0034866333008,"y":1025.5521202087402,"wires":[["2b219761.3a2098"]]},{"id":"cd7e84c4.53c008","type":"http in","z":"c314f908.4e5ca8","name":"","url":"/downloadLogs","method":"get","upload":false,"swaggerDoc":"","x":120.0173568725586,"y":1457.34375,"wires":[["393def4e.785a9"]]},{"id":"e3e9f364.97f1d","type":"http response","z":"c314f908.4e5ca8","name":"","statusCode":"","headers":{},"x":855.0141773223877,"y":1355.4307918548584,"wires":[]},{"id":"e50d7f92.ca82e","type":"change","z":"c314f908.4e5ca8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.rows","tot":"msg"},{"t":"set","p":"filepath","pt":"msg","to":"req.query.path","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":634.0035018920898,"y":1346.6632461547852,"wires":[["e3e9f364.97f1d","96cf7828.34e3d8"]]},{"id":"96cf7828.34e3d8","type":"excel","z":"c314f908.4e5ca8","name":"","file":"","x":835.5242786407471,"y":1468.2535257339478,"wires":[[]]},{"id":"12eb85db.5afb5a","type":"http in","z":"c314f908.4e5ca8","name":"","url":"/frame","method":"post","upload":false,"swaggerDoc":"","x":117.99998092651367,"y":332.6773052215576,"wires":[["7310d129.15814"]]},{"id":"7310d129.15814","type":"postgrestor","z":"c314f908.4e5ca8","name":"update frame","query":"UPDATE FRAMES\n\nSET serialstart = '{{msg.req.body.serialstart}}'\n\nWHERE id = '{{msg.req.body.id}}';","postgresDB":"60e8797.d0c1b88","output":true,"outputs":1,"x":341.9930877685547,"y":321.7607841491699,"wires":[["5b284a01.c71e84","342e42c8.590f9e","dbba4366.77585"]]},{"id":"5b284a01.c71e84","type":"http response","z":"c314f908.4e5ca8","name":"","statusCode":"","headers":{},"x":855.9966506958008,"y":314.7641658782959,"wires":[]},{"id":"7bd6d041.8809e","type":"postgrestor","z":"650555c9.ffd16c","name":"set framenumber","query":"UPDATE FRAMES\n\nSET serial = '{{msg.topic.serial}}'\n\nWHERE id = '{{msg.topic.id}}';","postgresDB":"60e8797.d0c1b88","output":true,"outputs":1,"x":1667.6330642700195,"y":377.26302909851074,"wires":[["7120300b.0807f"]]},{"id":"f89684ae.740bc8","type":"split","z":"650555c9.ffd16c","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1727.5208740234375,"y":264.88722229003906,"wires":[["1858aa77.190446"]]},{"id":"cb667c70.6390a","type":"template","z":"b42fd12f.306d4","name":"50100-AAN-C000 components data","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"number, name\n50124-KTR-9000,STOPPER HANDLE\n-,PLATE\n-,COLLAR\n50111-KTR-9000,GUIDE DRAIN TUBE\n50102-KTR-A400-23,STAY FR FUEL TANK\n50159-KTC-9000,STAY UTILITY BOX\n50147-KTR-9000,\"BRKT,U BOX\"\n50151-AAN-C000,STAY CANISTER\n50154-KTC-9000,STOPPER RR BRAKE\n50146-KTR-A000,STAY IGN COIL\n50143-KTR-A000,STAY AIR CLEANER LOW\n50131-KTC-9000,STAY AIR/C UP\n50166-KTR-A000,STAY L CDI\n50165-KTR-A000,STAY R CDI\n50531-KAG-9000,HOOK SPRING\n50179-KTC-9000,BRKT M STAND L\n50178-KTC-9000,BRKT M STAND R\n-,PURGE VALVE BKT\n50151 KTC 9000,BRKT HORN COMP\n50138-KTC-9000,BRKT. ENG GUARD\n50148-KCC-9000,BRKT RR STOP SW\n50174-KTR-A000,STAY L SIDE COVER\n50173-KTR-9000,STAY R SIDE COVER\n50177-KTR-8400,PLATE HELMET HOLDER\n50531-KTC-9000,HOOK SPG\n50132-KTR-A000,BRKT R PILLION STEP\n50133-KCC-9000,BRKT L PILLION STEP\n50177-KTC-9000,PLATE AIR/C DUCT COV\n50168-KTC-9000,GUIDE HARNESS\n50145-KTR-A200,GUIDE CLUTCH CABLE\n50144-KTR-8400,GUIDE THROT CABLE\n50158-KCC-9000,CLIP HARNESS\n50152-KCC-9000,CLIP A HARNESS\n50178-MK4-3000,CLIP HARNESS\n50178-KCC-9000,CLIP B HARNESS\n50178-MG3-3000,CLIP HARNESS\n50199-HA0-3000,CLIP HARNESS\n50182-KBG-3000,HOOK SEAT CATCH\n50212-KTC-9000,GUIDE BREATHER TUBE\n94591-11000,\"CLIP,1*100\"\n94591-15000,\"CLIP,1*50\"\n50183-KTR-9000,PLATE WATER GUARD\n50163-KTC-9000,BKT. MAIN STEP","output":"str","x":577.1447448730469,"y":398.19152641296387,"wires":[["9d4c2df3.8413f"]]},{"id":"9d4c2df3.8413f","type":"csv","z":"b42fd12f.306d4","name":"","sep":",","hdrin":true,"hdrout":"","multi":"one","ret":"\\n","temp":"","x":837.5236892700195,"y":398.3478260040283,"wires":[["733722d6.0c4d1c"]]},{"id":"11b42b9d.e43944","type":"template","z":"b42fd12f.306d4","name":"frames data","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"id,name,number\n1,AANP FRAME,50100-AAN-C000\n2,AANP FRAME 2,50100-AAN-C0002\n3,AANP FRAME 3,50100-AAN-C0003","output":"str","x":344.01953887939453,"y":154.00397205352783,"wires":[["8ccb9bb.aa12d68"]]},{"id":"831129af.6c42f8","type":"template","z":"b42fd12f.306d4","name":"users data","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"id,username,password\n1,admin,admin\n2,operator,operator","output":"str","x":340.01954650878906,"y":275.0039281845093,"wires":[["fdf7addd.2af7f"]]},{"id":"2f2a188f.bb7758","type":"postgrestor","z":"b42fd12f.306d4","name":"insert frames","query":"\n\nINSERT INTO frames(id, name, number) \nVALUES \n  ('{{msg.payload.id}}','{{msg.payload.name}}', '{{msg.payload.number}}');","postgresDB":"60e8797.d0c1b88","output":true,"outputs":1,"x":706.0195579528809,"y":154.00395011901855,"wires":[[]]},{"id":"8ccb9bb.aa12d68","type":"csv","z":"b42fd12f.306d4","name":"","sep":",","hdrin":true,"hdrout":"","multi":"one","ret":"\\n","temp":"","x":525.0195808410645,"y":154.00398063659668,"wires":[["2f2a188f.bb7758"]]},{"id":"fdf7addd.2af7f","type":"csv","z":"b42fd12f.306d4","name":"","sep":",","hdrin":true,"hdrout":"","multi":"one","ret":"\\n","temp":"","x":528.0195579528809,"y":275.0039339065552,"wires":[["91a0292b.543018"]]},{"id":"94ecbecf.877b2","type":"postgrestor","z":"650555c9.ffd16c","name":"get components","query":"SELECT * FROM components\nWHERE frameid = '{{msg.payload.id}}'","postgresDB":"60e8797.d0c1b88","output":true,"outputs":1,"x":1215.6408004760742,"y":262.69140911102295,"wires":[["3f254637.cecf4a"]]},{"id":"3eaf6dbb.072602","type":"function","z":"650555c9.ffd16c","name":"get selectedFrame","func":"if(global.get(\"selectedFrame\") && global.get(\"selectedFrame\").id){\n    msg.payload = global.get(\"selectedFrame\");\n    return msg;\n}","outputs":1,"noerr":0,"x":1005.3985137939453,"y":262.4687490463257,"wires":[["94ecbecf.877b2"]]},{"id":"f8162b2f.cdc888","type":"trigger","z":"b42fd12f.306d4","op1":"","op2":"0","op1type":"nul","op2type":"str","duration":"5","extend":false,"units":"s","reset":"","name":"","x":312.1484489440918,"y":399.3985404968262,"wires":[["cb667c70.6390a"]]},{"id":"2b255a60.9bfde6","type":"http in","z":"c314f908.4e5ca8","name":"","url":"/logs","method":"get","upload":false,"swaggerDoc":"","x":73,"y":1759.25439453125,"wires":[["393def4e.785a9"]]},{"id":"9d547af.3998188","type":"postgrestor","z":"c314f908.4e5ca8","name":"get logs","query":"SELECT * FROM LOGS ORDER BY ID DESC;","postgresDB":"60e8797.d0c1b88","output":true,"outputs":1,"x":531.0127258300781,"y":1975.3379878997803,"wires":[["cd246229.3be6d"]]},{"id":"e23df606.3aeb48","type":"http response","z":"c314f908.4e5ca8","name":"","statusCode":"","headers":{},"x":1421.016242980957,"y":1757.3415660858154,"wires":[]},{"id":"74eee748.6b7ce8","type":"change","z":"c314f908.4e5ca8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.rows","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1021.0058441162109,"y":1755.574231147766,"wires":[["d033c00e.f368d"]]},{"id":"393def4e.785a9","type":"switch","z":"c314f908.4e5ca8","name":"","property":"req.query.searchBy","propertyType":"msg","rules":[{"t":"eq","v":"frametype","vt":"str"},{"t":"eq","v":"frameDynamicCode","vt":"str"},{"t":"eq","v":"shiftnumber","vt":"str"},{"t":"eq","v":"framecomponent","vt":"str"},{"t":"eq","v":"status","vt":"str"},{"t":"else"}],"checkall":"true","outputs":6,"x":279.13677978515625,"y":1758.3250732421875,"wires":[["c0169dbf.7c989"],["984ddd5b.26c87"],["659f2b80.026b94"],["e2250b41.28b8b8"],["5e126ae1.fa68e4"],["9d547af.3998188"]]},{"id":"c0169dbf.7c989","type":"postgrestor","z":"c314f908.4e5ca8","name":"frametype","query":"SELECT * FROM LOGS\nWHERE \nframetype LIKE '%{{msg.req.query.searchString}}%'\nORDER BY ID DESC ;","postgresDB":"60e8797.d0c1b88","output":true,"outputs":1,"x":542.0196228027344,"y":1546.7550048828125,"wires":[["cd246229.3be6d"]]},{"id":"984ddd5b.26c87","type":"postgrestor","z":"c314f908.4e5ca8","name":"frameDynamicCode","query":"SELECT * FROM LOGS\nWHERE \nframeDynamicCode LIKE '%{{msg.req.query.searchString}}%'\nORDER BY ID DESC ;","postgresDB":"60e8797.d0c1b88","output":true,"outputs":1,"x":582.01953125,"y":1622.75390625,"wires":[["cd246229.3be6d"]]},{"id":"659f2b80.026b94","type":"postgrestor","z":"c314f908.4e5ca8","name":"shiftnumber","query":"SELECT * FROM LOGS\nWHERE \nshiftnumber LIKE '%{{msg.req.query.searchString}}%'\nORDER BY ID DESC ;","postgresDB":"60e8797.d0c1b88","output":true,"outputs":1,"x":550.01953125,"y":1719.75390625,"wires":[["cd246229.3be6d"]]},{"id":"d576bf33.9cc91","type":"postgrestor","z":"c314f908.4e5ca8","name":"frametype","query":"SELECT * FROM LOGS\nWHERE \nframetype LIKE '%{{msg.req.query.searchString}}%'\nORDER BY ID DESC ;","postgresDB":"60e8797.d0c1b88","output":true,"outputs":1,"x":542.01953125,"y":1797.75390625,"wires":[[]]},{"id":"e2250b41.28b8b8","type":"postgrestor","z":"c314f908.4e5ca8","name":"framecomponent","query":"SELECT * FROM LOGS\nWHERE \nframecomponent LIKE '%{{msg.req.query.searchString}}%'\nORDER BY ID DESC ;","postgresDB":"60e8797.d0c1b88","output":true,"outputs":1,"x":572.01953125,"y":1797.75390625,"wires":[["cd246229.3be6d"]]},{"id":"5e126ae1.fa68e4","type":"postgrestor","z":"c314f908.4e5ca8","name":"status","query":"SELECT * FROM LOGS\nWHERE \nstatus LIKE '%{{msg.req.query.searchString}}%'\nORDER BY ID DESC ;","postgresDB":"60e8797.d0c1b88","output":true,"outputs":1,"x":525.01953125,"y":1884.75390625,"wires":[["cd246229.3be6d"]]},{"id":"d033c00e.f368d","type":"function","z":"c314f908.4e5ca8","name":"filter timestamp","func":"var res = [];\n\nif( msg.req && msg.req.query && msg.req.query.startTime && msg.req.query.endTime){\n    \n    var from = new Date(new Date(new Date(new Date(msg.req.query.startTime).setHours(23)).setMinutes(59)).setSeconds(59));\n    var to = new Date(new Date(new Date(new Date(msg.req.query.endTime).setHours(23)).setMinutes(59)).setSeconds(59));\n    var current = 0;\n    \n    msg.payload.forEach(function(payload){\n            \n        current = new Date(payload.timestamp).getTime();  \n        if( current >= from && current <= to ){\n            res.push(payload);\n        }\n    });\n    \n} else {\n    res = msg.payload;\n}\n\nmsg.payload = res;\n\nreturn msg;","outputs":1,"noerr":0,"x":1251.3906898498535,"y":1755.4613771438599,"wires":[["e23df606.3aeb48"]]},{"id":"5d50071c.65b8d8","type":"websocket out","z":"650555c9.ffd16c","name":"","server":"8c324270.0cbc4","client":"","x":2212.2919921875,"y":261.2326354980469,"wires":[]},{"id":"fcfbf8d8.f2fa38","type":"inject","z":"650555c9.ffd16c","name":"","topic":"","payload":"lastLogs","payloadType":"global","repeat":"","crontab":"","once":false,"x":1106.1328887939453,"y":74.44141006469727,"wires":[["fb9004e7.d060a8"]]},{"id":"79527958.4298b8","type":"debug","z":"650555c9.ffd16c","name":"","active":false,"console":"false","complete":"false","x":1454.14453125,"y":119.69140625,"wires":[]},{"id":"27d28a2a.343dc6","type":"change","z":"650555c9.ffd16c","name":"","rules":[{"t":"set","p":"lastLogs","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1757.8907318115234,"y":196.80471420288086,"wires":[[]]},{"id":"7120300b.0807f","type":"websocket out","z":"650555c9.ffd16c","name":"","server":"8c324270.0cbc4","client":"","x":1942.2696380615234,"y":379.0039110183716,"wires":[]},{"id":"f7aa5f42.065c5","type":"websocket in","z":"c314f908.4e5ca8","name":"","server":"8c324270.0cbc4","client":"","x":129.14453125,"y":287.328125,"wires":[["342e42c8.590f9e"]]},{"id":"fb9004e7.d060a8","type":"function","z":"650555c9.ffd16c","name":"","func":"console.log(\"asdfdsafdsfasd\");\n\nreturn msg;","outputs":1,"noerr":0,"x":1279.14453125,"y":99.96484375,"wires":[["79527958.4298b8"]]},{"id":"cd246229.3be6d","type":"function","z":"c314f908.4e5ca8","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":830.3867511749268,"y":1755.472885131836,"wires":[["74eee748.6b7ce8","e50d7f92.ca82e"]]}]