flows.json
[{"id":"41f61d2.fbe09e4","type":"tab","label":"login","disabled":false,"info":""},{"id":"f06c57eb.e4b968","type":"tab","label":"dashboard","disabled":false,"info":""},{"id":"52a903f3.ad56fc","type":"ui_tab","z":"41f61d2.fbe09e4","name":"iRobotics","icon":"dashboard","order":2},{"id":"a8ecb9.c60f4348","type":"ui_group","z":"41f61d2.fbe09e4","name":"Introduction","tab":"52a903f3.ad56fc","order":1,"disp":false,"width":"12"},{"id":"d9ba26fa.6d2b18","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"Arial,Arial,Helvetica,sans-serif","edited":false,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"Helvetica Neue","edited":false},"customTheme":{"default":"#4B7930","baseColor":"#4b4686","baseFont":"Helvetica Neue"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":true},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"Arial,Arial,Helvetica,sans-serif"}}},"site":{"name":"Pilosol App","hideToolbar":"true","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"30522a72.48a0d6","type":"ui_tab","z":"","name":"iRobotics Dashboard","icon":"dashboard","order":1},{"id":"8f723bfa.cb2868","type":"ui_group","z":"","name":"Side Menu","tab":"30522a72.48a0d6","order":2,"disp":false,"width":"7"},{"id":"dc077cee.015bb","type":"ui_group","z":"","name":"Right Panel","tab":"30522a72.48a0d6","order":3,"disp":false,"width":"15"},{"id":"c2ecf50b.1a5eb8","type":"ui_group","z":"","name":"Title Bar","tab":"30522a72.48a0d6","order":1,"disp":false,"width":"22"},{"id":"189cf871.681118","type":"ui_template","z":"41f61d2.fbe09e4","group":"a8ecb9.c60f4348","name":"Welcome","order":1,"width":"0","height":"0","format":"<h3 style=\"text-align: center;\">Welcome to the <font color=\"#CE2020\">iRobotics</font> Dashboard</h3>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":92.00001525878906,"y":54.000014305114746,"wires":[[]]},{"id":"209ac0f6.78817","type":"ui_form","z":"41f61d2.fbe09e4","name":"","label":"","group":"a8ecb9.c60f4348","order":0,"width":0,"height":0,"options":[{"label":"Username","value":"Username","type":"text","required":true},{"label":"Password","value":"password","type":"password","required":true}],"formValue":{"Username":"","password":""},"payload":"","topic":"","x":82.51703643798828,"y":163.56250762939453,"wires":[[]]},{"id":"66cccb3b.e0ad34","type":"ui_template","z":"f06c57eb.e4b968","group":"dc077cee.015bb","name":"Table","order":6,"width":0,"height":0,"format":"<table border=\"1\" cellspacing=\"0\">\n    <thead>\n            <th>Type</th>\n            <th>Frame No</td>\n            <th>Component</th>\n            <th>Status</th>\n            <th>Shift</th>\n            <th>Timestamp</th>\n    </thead>\n</table>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":296.5198402404785,"y":40.92042350769043,"wires":[[]]},{"id":"afbb53c1.519a5","type":"ui_dropdown","z":"f06c57eb.e4b968","name":"","label":"Frame Type","place":"Select option","group":"8f723bfa.cb2868","order":1,"width":0,"height":0,"passthru":false,"options":[{"label":"Type 1","value":"type1","type":"str"},{"label":"Type 2","value":"type2","type":"str"},{"label":"Type 3","value":"type3","type":"str"}],"payload":"","topic":"","x":252.50850868225098,"y":301.94034576416016,"wires":[["5604abe5.46b8e4"]]},{"id":"917dfb04.d3c358","type":"ui_text_input","z":"f06c57eb.e4b968","name":"","label":"Frame Number","group":"8f723bfa.cb2868","order":2,"width":0,"height":0,"passthru":false,"mode":"text","delay":300,"topic":"","x":263.51416969299316,"y":210.34091186523438,"wires":[["5604abe5.46b8e4"]]},{"id":"60bfe797.bd2548","type":"ui_date_picker","z":"f06c57eb.e4b968","name":"","label":"From Date","group":"8f723bfa.cb2868","order":3,"width":0,"height":0,"passthru":false,"topic":"","x":251.51703071594238,"y":348.3238515853882,"wires":[["5604abe5.46b8e4"]]},{"id":"1d19dd85.061fd2","type":"ui_date_picker","z":"f06c57eb.e4b968","name":"","label":"To Date","group":"8f723bfa.cb2868","order":4,"width":0,"height":0,"passthru":false,"topic":"","x":243.51134300231934,"y":257.3294982910156,"wires":[["5604abe5.46b8e4"]]},{"id":"2478669c.9fa66a","type":"ui_dropdown","z":"f06c57eb.e4b968","name":"","label":"Shift","place":"Select option","group":"8f723bfa.cb2868","order":5,"width":0,"height":0,"passthru":false,"options":[{"label":"Shift 1","value":"shift1","type":"str"},{"label":"Shift 2","value":"shift2","type":"str"}],"payload":"","topic":"","x":234.51987648010254,"y":396.3976936340332,"wires":[["5604abe5.46b8e4"]]},{"id":"77200c89.3d20d4","type":"ui_template","z":"f06c57eb.e4b968","group":"c2ecf50b.1a5eb8","name":"Titlebar","order":1,"width":"0","height":"0","format":"<div id=\"titlebar\">\n    Welcome to the <font color=\"#CE2020\">iRobotics</font> Dashboard\n</div>\n\n<style>\n    #titlebar{\n        padding: 1rem 2rem;\n        font-weight: bold;\n        text-align: center;\n        font-size: 30px;\n        \n        background: lightgray;\n    }\n</style>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":110.01420593261719,"y":41.00569725036621,"wires":[[]]},{"id":"87965806.3b71e8","type":"ui_button","z":"f06c57eb.e4b968","name":"","group":"8f723bfa.cb2868","order":0,"width":0,"height":0,"passthru":true,"label":"Search","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":65,"y":147.40622520446777,"wires":[["917dfb04.d3c358","1d19dd85.061fd2","afbb53c1.519a5","60bfe797.bd2548","2478669c.9fa66a"]]},{"id":"5604abe5.46b8e4","type":"debug","z":"f06c57eb.e4b968","name":"","active":true,"console":"false","complete":"false","x":516.5113372802734,"y":281.35511016845703,"wires":[]}]