flows.json
[{"id":"b42fd12f.306d4","type":"tab","label":"Run only firstime","disabled":false,"info":""},{"id":"c314f908.4e5ca8","type":"tab","label":"authentication service","disabled":false,"info":""},{"id":"650555c9.ffd16c","type":"tab","label":"ui","disabled":false,"info":""},{"id":"51972b56.ca0314","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"60e8797.d0c1b88","type":"postgresDB","z":"","name":"localhost","host":"localhost","port":"5432","database":"postgres","ssl":false,"max":"10","min":1,"idle":"1000"},{"id":"ceaa67a1.076fa8","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"305160ca.23be7","type":"ui_group","z":"","name":"Default","tab":"ceaa67a1.076fa8","disp":true,"width":"6"},{"id":"a68af64b.1b0c68","type":"inject","z":"b42fd12f.306d4","name":"inject on start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":133.52777099609375,"y":46.95834255218506,"wires":[["4b5626d9.66cb18"]]},{"id":"4b5626d9.66cb18","type":"postgrestor","z":"b42fd12f.306d4","name":"create tables","query":"CREATE TABLE frames (\n\tid bigserial NOT NULL,\n\tname text NOT NULL,\n\tPRIMARY KEY (ID)\n);\n\nCREATE TABLE components (\n\tid bigserial NOT NULL,\n\tname  text NOT NULL,\n\tPRIMARY KEY (ID)\n);\n\nCREATE TABLE logs (\n\tid bigserial NOT NULL,\n\tframeType text NOT NULL,\n\tframeNumber text,\n\tframeComponent text NOT NULL,\n\tshiftNumber text NOT NULL,\n\tprocessingTime text NOT NULL,\n\tstatus text NOT NULL,\n\ttimestamp text NOT NULL,\n\tPRIMARY KEY (ID)\n);\n\nCREATE TABLE shifts (\n\tid bigserial NOT NULL,\n\tname text NOT NULL,\n\tstartTime text NOT NULL,\n\tendTime text NOT NULL\n);\n\nCREATE TABLE users (\n\tid integer NOT NULL,\n\tusername text NOT NULL,\n\tpassword text NOT NULL\n);\n\nCREATE INDEX idx_frames ON frames(id);\nCREATE INDEX idx_components ON components(id);\nCREATE INDEX idx_logs ON logs(id);\nCREATE INDEX idx_users ON users(id);\n\nINSERT INTO USERS(id, username, password)\nVALUES(1, 'admin', 'admin');","postgresDB":"60e8797.d0c1b88","output":true,"outputs":1,"x":346.51740646362305,"y":46.86808776855469,"wires":[[]]},{"id":"7dd12653.8ce8e8","type":"http in","z":"c314f908.4e5ca8","name":"","url":"/users","method":"get","upload":false,"swaggerDoc":"","x":107.52777099609375,"y":117.78820037841797,"wires":[["4f2bf7a1.7e0328"]]},{"id":"4f2bf7a1.7e0328","type":"postgrestor","z":"c314f908.4e5ca8","name":"","query":"SELECT * FROM USERS;","postgresDB":"60e8797.d0c1b88","output":true,"outputs":1,"x":324.52086639404297,"y":165.87151718139648,"wires":[["5f6717a7.b12528"]]},{"id":"bc77d064.4f848","type":"http response","z":"c314f908.4e5ca8","name":"","statusCode":"","headers":{},"x":860.5243263244629,"y":385.87502098083496,"wires":[]},{"id":"5f6717a7.b12528","type":"change","z":"c314f908.4e5ca8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.rows","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":561.5139236450195,"y":264.1076774597168,"wires":[["bc77d064.4f848"]]},{"id":"e806a22d.bc11e","type":"template","z":"650555c9.ffd16c","name":"","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<script type=\"text/javascript\" src=\"angular/angular.min.js\"></script>\n\n<md-button>test</md-button>","output":"str","x":347.5278663635254,"y":274.9236526489258,"wires":[["b2c6b889.1454c8"]]},{"id":"b2c6b889.1454c8","type":"http response","z":"650555c9.ffd16c","name":"","statusCode":"","headers":{},"x":584.5173988342285,"y":88.94094467163086,"wires":[]}]